 form {
     background: white;
     width: fit-content;
     padding: 50px;
     box-shadow: 5px 5px 5px 5px gainsboro


 }
        .product-form {
            width: 20rem;
            max-width: 90%;
            margin: auto;
            
        }

        .form-control {
            margin: 1rem 0;
        }

        .form-control label,
        .form-control input {
            display: flex;
            flex-direction: column;;
            width: 100%;
            gap: 30px;
            margin-bottom: 5px;
            height: 30px;
        }

        .form-control input {
            border: 1px solid #dbc441;
            font: inherit;
            border-radius: 2px;
        }

        button {
            font: inherit;
            border: 1px solid #3e00a1;
            color: #3e00a1;
            background: white;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover,
        button:active {
            background-color: #3e00a1;
            color: white;
        }